*{
    margin: 0;padding: 0;
}
body{
    background:url("../images/wall.jpg") no-repeat center center;
    background-size: cover;
}
kbd{
    border: 1px solid red;
    text-transform: uppercase;
    display: inline-block;
    width: 4em;
    height:4em;
    text-align: center;
    /*line-height: 4em;*/
    position: relative;
}
#mainBox{
    text-align: center;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    font-size: 12px;
    border: none;
    padding: 1px;
}
kbd:hover > button{
    display: inline-block;
}


.key{
    width: 50px;
    height: 40px;
    background:linear-gradient(to bottom,#292929 0%, #111111 100%);
    border: 1px solid #373737;
    color: #C5C5C5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 1px #1f2020 , 0 2px 0 #080808;
    font-size: 16px;
    font-family: Helvetica;
}

.row{
    margin: 20px 0;
}
.row .key{
    margin: 0 10px;
}
.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 0;
}
.row .text{
    position: absolute;
    left: 4px;
    top: 4px;
}